<div class="svg-wrapper">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Clusterization process</mat-card-title>
        </mat-card-header>

        <mat-card-content>
            <svg
                #svg
                class="main-svg"
                (click)='pointClick($event)'
            ></svg>

        </mat-card-content>
        <div>
          <span>Click on point to get it's coordinate: </span>
          <span> X: {{xCoordinate}}; </span>
          <span> Y: {{yCoordinate}}; </span>
        </div>
    </mat-card>
</div>
